/* Your Code Goes Here */
/* Variables */
/* Colors */
/* Media Query */
/* Mixins */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #222222;
  line-height: 24px;
}
/* Navigation Styling */
.navigation {
  background-color: #9aa5b0;
  padding: 13px 15px;
  margin: 0 auto;
}
@media (max-width: 500px) {
}
.navigation .nav-contain {
  max-width: 890px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.navigation .nav-contain h1 {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}
.navigation .nav-contain nav {
  display: none;
}
/* Header Styling */
.jumbotron {
  margin: 0 auto;
  background-image: url("../img/home/home-jumbotron.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -50px;
  background-size: cover;
  z-index: -1;
  height: 548px;
  max-width: 1024px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  .jumbotron {
    width: 100%;
    background-image: url("../img/home/home-mobile-jumbotron.png");
    height: 210px;
  }
}
.jumbotron .motto {
  max-width: 890px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-content: flex-end;
  padding: 0 0px 48px 0px;
}
@media (max-width: 500px) {
  .jumbotron .motto {
    padding-bottom: 22px;
    width: 90%;
  }
}
.jumbotron .motto h2 {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  width: 50%;
  line-height: 75px;
}
@media (max-width: 500px) {
  .jumbotron .motto h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 42px;
  }
}
/* HOMEPAGE styling */
.container {
  margin: 0 auto;
  max-width: 890px;
}
.container .content-container {
  padding: 15px 15px;
  width: 90%;
}
.container .content-container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 40px 0 45px;
  width: 100%;
}
@media (max-width: 500px) {
  .container .content-container .content {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.container .content-container .content .content-text {
  width: 48%;
}
@media (max-width: 500px) {
  .container .content-container .content .content-text {
    width: 100%;
    padding-top: 30px;
    justify-content: center;
  }
}
.container .content-container .content .content-text h3 {
  font-size: 24px;
  font-weight: 700;
}
.container .content-container .content .content-text p {
  margin: 25px 0;
}
.container .content-container .content .content-text button {
  border: 1px solid #222222;
  padding: 13px 0;
  width: 135px;
  font-size: 16px;
  background-color: #fff;
}
@media (max-width: 500px) {
  .container .content-container .content .content-text button {
    width: 100%;
  }
}
.container .content-container .content .content-text button:hover {
  background-color: #504545;
  color: #fff;
}
.container .content-container .content .content-image {
  width: 48%;
}
@media (max-width: 500px) {
  .container .content-container .content .content-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.container .content-container .content .content-image img {
  width: 100%;
}
@media (max-width: 500px) {
  .container .content-container .content .content-image #home01 {
    content: url("../img/home/home-mobile-img-1.png");
  }
}
@media (max-width: 500px) {
  .container .content-container .content .content-image #home02 {
    content: url("../img/home/home-mobile-img-2.png");
  }
}
@media (max-width: 500px) {
  .container .content-container .content-reverse {
    flex-direction: column-reverse;
  }
}
.container .projects-container {
  margin: 50px auto 0px auto;
  width: 100%;
}
@media (max-width: 500px) {
  .container .projects-container {
    margin-top: 20px;
  }
}
.container .projects-container h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 45px;
  padding-left: 15px;
}
@media (max-width: 500px) {
  .container .projects-container h3 {
    margin-bottom: 20px;
  }
}
.container .projects-container .project {
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .container .projects-container .project {
    margin-bottom: 20px;
  }
}
.container .projects-container .project .project-header {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 500px) {
  .container .projects-container .project .project-header {
    align-items: center;
    align-content: center;
  }
}
.container .projects-container .project .project-header img {
  width: 100%;
}
.container .projects-container .project .project-header h4 {
  background-color: #d8d8d8;
  width: 315px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 8px;
  padding: 35px 0;
  border: 1px solid #fff;
  margin-top: -55px;
}
@media (max-width: 500px) {
  .container .projects-container .project .project-header h4 {
    width: 90%;
    margin: 0 15px;
    margin-top: -15px;
    margin-bottom: -25px;
  }
}
@media (max-width: 500px) {
  .container .projects-container .project .project-header #img-villas {
    content: url("../img/home/home-mobile-villas-img.png");
  }
}
@media (max-width: 500px) {
  .container .projects-container .project .project-header #img-outskirts {
    content: url("../img/home/home-mobile-outskirts-img.png");
  }
}
@media (max-width: 500px) {
  .container .projects-container .project .project-header #img-theblocks {
    content: url("../img/home/home-mobile-the-blocks-img.png");
  }
}
.container .projects-container .project .project-header-reverse {
  align-items: flex-start;
}
@media (max-width: 500px) {
  .container .projects-container .project .project-header-reverse {
    align-items: center;
  }
}
.container .projects-container .project .project-text {
  width: 450px;
  margin: 25px 0;
}
@media (max-width: 500px) {
  .container .projects-container .project .project-text {
    width: 90%;
    margin-bottom: 0px;
  }
}
.container .projects-container .project .project-text p {
  width: 100%;
  margin: 25px 0;
  font-size: 18px;
}
/* Footer Styling */
footer {
  background-color: #828282;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
@media (max-width: 500px) {
  footer {
    margin-top: 50px;
    padding-top: 20px;
  }
}
footer .footer-content {
  max-width: 860px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  footer .footer-content {
    width: 90%;
    flex-direction: column;
  }
}
footer .footer-content .signup {
  font-size: 20px;
  font-weight: 700;
  width: 290px;
  letter-spacing: 0.2px;
}
footer .footer-content .signup input {
  width: 90%;
  height: 35px;
  margin: 10px 0 5px;
  border-radius: 5px;
  color: #a3a2a2;
  padding-left: 10px;
  font-size: 16px;
}
@media (max-width: 500px) {
  footer .footer-content .signup input {
    height: 45px;
    margin-top: 15px;
  }
}
footer .footer-content .signup p {
  font-size: 12px;
  font-weight: 100;
}
footer .footer-content .sitelist {
  display: flex;
  justify-content: space-between;
  width: 60%;
  line-height: 28px;
}
@media (max-width: 500px) {
  footer .footer-content .sitelist {
    flex-direction: column;
    width: 100%;
  }
}
footer .footer-content .sitelist .site {
  width: 100%;
  font-size: 14px;
}
@media (max-width: 500px) {
  footer .footer-content .sitelist .site {
    margin-top: 20px;
  }
}
footer .footer-content .sitelist .site h4 {
  font-size: 18px;
  font-weight: 700;
}
footer .footer-content .sitelist .site a {
  text-decoration: none;
  color: #fff;
}
footer .copyright {
  text-align: center;
  font-size: 12px;
  color: #d8d8d8;
  margin: 20px 0 3px;
  max-width: 860px;
}
@media (max-width: 500px) {
  footer .copyright {
    width: 90%;
    text-align: left;
    margin-bottom: 25px;
  }
}
