.contact-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;

    .flex(space-between);

    @media @mobile {
        margin-top: 30px;
    }

    h3 {
        font-size: 24px;
        font-weight: 700;
    }

    .contact-form {

        
    }

    .contact-locations {
        width: 40%;

        .location {

            margin-top: 30px;

            h4 {
                font-size: 18px;
                font-weight: 700;
            }
        }   
    }
}