/* Header Styling */

.jumbotron {
    margin: 0 auto;
    background-image: url("../img/home/home-jumbotron.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -50px;
    z-index: -1;
    height: 548px;
    max-width: 1024px;
    .flex(flex-end);

    .motto {
        max-width: 860px;
        margin: 0 auto;
        .flex(flex-end);
        flex-direction: column;
        align-content: flex-end;
        padding-bottom: 48px;
        //border: 1px solid red;

        h2 {
            font-size: 64px;
            font-weight: 700;
            color: @white;
            width: 50%;
            line-height: 75px;

        }
    }
}