/* Header Styling */

.jumbotron {
    margin: 0 auto;
    background-image: url("../img/home/home-jumbotron.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -50px;
    z-index: -1;
    height: 548px;
    max-width: 1024px;
    .flex(flex-end);

    @media @mobile {
        background-image: url("../img/home/home-mobile-jumbotron.png");
        height: 210px;
    }

    .motto {
        max-width: 890px;
        margin: 0 auto;
        .flex(flex-end);
        flex-direction: column;
        align-content: flex-end;
        padding: 0 15px 48px 15px;
        //border: 1px solid red;

        h2 {
            font-size: 64px;
            font-weight: 700;
            color: @white;
            width: 50%;
            line-height: 75px;

            @media @mobile {
                font-size: 38px;
                line-height: 40px;
            }
        }
    }
}