/* HOMEPAGE styling */

.container {
    margin: 0 auto;
    width: 900px;

    .content-container { 

        .content {
            .flex(center);
            padding: 40px 0;

            .content-text {

            }

            .content-img {

            }
        }
    }
}