/* Navigation Styling */

.navigation {
    background-color: @bluegray;
    padding: 13px 0;
    margin: 0 auto;

    @media @mobile {
        background-color: black;
    }

    .nav-contain {
        max-width: 860px;
        margin: 0 auto;
        //padding: 0 25px 0 25px;;
        .flex(space-between);

        h1 {
            font-size: 24px;
            color: @white;
            font-weight: 700;
        }

        nav {
            display: none;
        }


    }
}