.projectspage-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;

    @media @mobile {
        margin-top: 30px;
    }

    // .carousel-button {
    //     border-radius: 50px;
    //     width: 30px;
    //     height: 30px;
    //     border: 3px solid @blue;
    //     text-align: center;
    //     font-weight: 700;
    //     cursor: pointer;
    //     z-index: .5;
    //     margin-top: 50px;
    // }

    .left-button {
        float: left;
    }

    .right-button {
        float: right;
    }

    // h3 {
    //     font-size: 24px;
    //     font-weight: 700;
    //     margin-bottom: 45px;
    //     padding-left: 15px;

    //     @media @mobile {
    //         margin-bottom: 20px;
    //     }
    // }

    .project {
        margin-bottom: 50px;
        .flex(flex-start);
        flex-direction: column;
        align-items: center;
        display: none;

        @media @mobile {
            margin-bottom: 20px;
        }

        .project-header {
            .flex(flex-end);
            flex-direction: column;
            align-items: flex-end;

            @media @mobile {
                align-items: center;
                align-content: center;
            }

            img {
                width: 100%;
            }
            

            h4 {
                background-color: @lightgray;
                width: 315px;
                text-align: center;
                font-size: 24px;
                letter-spacing: 8px;
                padding: 35px 0;
                border: 1px solid @white;
                margin-top: -55px;

                @media @mobile {
                    width: 90%;
                    margin: 0 15px;
                    margin-top: -15px;
                    margin-bottom: -25px;
                }
            }

            #img-villas {
                @media @mobile {
                    content:url("../img/home/home-mobile-villas-img.png");
                }
            }

            #img-outskirts {
                @media @mobile {
                    content:url("../img/home/home-mobile-outskirts-img.png");
                }
            }

            #img-theblocks {
                @media @mobile {
                    content:url("../img/home/home-mobile-the-blocks-img.png");
                }
            }
        }

        .project-header-reverse {
            align-items: flex-start;

            @media @mobile {
                align-items: center;
            }
        }

        .project-text {
            width: 450px;
            margin: 25px 0;

            @media @mobile {
                width: 90%;
                margin-bottom: 0px;
            }

            p {
                width: 100%;
                margin: 25px 0;
                font-size: 18px;
            }
        }
    }

    .project-selected {
        display: flex;
    }
}

.carousel-container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    height: 550px;
    background-color: @white;
    overflow: hidden;
    position: relative;

    @media @mobile {
        height: 600px;
    }
}

.carousel-container .carousel-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 200ms;

    padding-top: 280px;
    .flex(center);
    flex-direction: column;
    align-items: center;
    align-content: center;

    h4 {
        background-color: @lightgray;
        width: 315px;
        text-align: center;
        font-size: 24px;
        letter-spacing: 8px;
        padding: 35px 0;
        border: 1px solid @white;
        margin: -60px auto;
        margin-bottom: 30px;

        // @media @mobile {
        //     width: 90%;
        //     margin: 0 15px;
        //     margin-top: -60px;
        //     margin-bottom: -25px;
        // }
    }

    .carousel-item-text {
        max-width: 500px;
        width: 100%;

        p {
            margin-bottom: 20px;
        }
    }
}

.carousel-container #carousel-item03 {
    background-image: url("../img/projects/projects03.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

.carousel-container #carousel-item02 {
    background-image: url("../img/projects/projects02.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

.carousel-container #carousel-item01 {
    background-image: url("../img/projects/projects01.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

.carousel-button {
    width: 25px;
    height: 25px;
    background-color: @black;
    border-radius: 5px;
    position: absolute;
    top: 110px;
    z-index: 2000;
    opacity: .8;
    cursor: pointer;

    &:hover {
        opacity: .9;
    }
}

.carousel-button-previous {
    left: 5px;
    background-image: url("../img/projects/button-left.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-button-next {
    right: 5px;
    background-image: url("../img/projects/button-right.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}